/* font */
.xi-search::before,
.xi-market::before,
.xi-heart::before,
.xi-trash::before,
.xi-pinterest-p::before,
.xi-instagram::before,
.xi-facebook::before,
.xi-pen::before,
.xi-trash::before,
.xi-bars::before
{
    font-family: xeicon !important;
}

#cartPanel,
header,
header > div:nth-child(2) nav ol li button,
main,
.listContainer,
.detailContainer,
.signInContainer,
.signUpContainer,
.forgotPasswordContainer,
.myPageContainer,
.profileContainer,
.addressContainer,
.cartContainer,
.orderContainer,
.wishContainer,
.accessibilityContainer,
.faqsContainer,
.privacyContainer,
.returnPolicyContainer,
.shippingContainer,
.cookieContainer,
.termsContainer,
#editAddPopup,
#newAddPopup,
#comfirmPopup,
#shipmentPopup,
#orderDetailPopup,
#returnPopup,
#reviewPopup,
#shipmentPopup input,
#orderDetailPopup input,
#returnPopup input,
.checkoutContainer,
.checkoutContainer input,
#addListPopup h3,
.checkoutCompleteContainer,
.aboutUsContainer,
.hopeGraceContainer,
.ourPurposeContainer,
.loyaltyProgramContainer,
.loyaltyProgramContainer > div:nth-of-type(3) > div h2 span,
#loginPopup
{
    font-family: 'Karla';
}

#cartPanel h2,
#cartPanel h3,
#cartPanel > div ul.productsBoxSlider li > dl dt,
header > div nav > ul > li > div > div > div > figure figcaption strong,
.cartBoxSlider li > dl dt a,
.productsBoxSlider > li > dl dt a,
.bestSellersSlider > li > dl dt a,
main div.mainItem > div:nth-child(1) h3,
.mainBoxSlider > li > dl dt,
main section h3,
main section strong,
.listContainer > h2 strong,
footer,
#listFilterPanel form ul li div,
.listContainer > ul li > h3 b,
.detailContainer > div:first-of-type > div:first-of-type h3 b,
.detailContainer figcaption,
.detailContainer > div:nth-of-type(2) h2,
.detailContainer > div:first-of-type > div:last-of-type > h3,
.detailContainer > div:first-of-type > div:last-of-type strong,
.recommendSlider > li > dl dt a,
.detailContainer > div:nth-of-type(3) h2,
.detailContainer > div:nth-of-type(3) > input[type="button"],
.detailContainer > ul:last-of-type > li div:first-child strong,
.detailContainer > ul:last-of-type > li div:nth-child(3) > span,
#writePopup form input[type="submit"],
.signInContainer div h2,
.signUpContainer div h2,
.forgotPasswordContainer div h2,
.cartList li h3,
.checkoutContainer > form > div fieldset legend,
.checkoutContainer h3,
.checkoutCompleteContainer h3,
.aboutUsContainer h2,
.hopeGraceContainer h2,
.hopeGraceContainer div:nth-of-type(1) strong,
.ourPurposeContainer .ourPurposeBoxSlider figure figcaption h2,
.ourPurposeContainer > figure figcaption h2,
.loyaltyProgramContainer > figure figcaption > h2,
.loyaltyProgramContainer div h2,
.loyaltyProgramContainer > div:nth-of-type(1) > ul li,
.loyaltyProgramContainer > div:nth-of-type(3) h3
{
    font-family: 'Gelasio', sans-serif;
}

.bx-wrapper{box-shadow: none; border: none; margin-bottom: auto;}
.xi-search,.xi-heart,.xi-market,.xi-trash,.xi-pinterest-p,.xi-instagram,.xi-facebook,.xi-bars{border: none; background: transparent; padding: 0;}
.xi-close.closeBtn{background: url('../img/btn_close.png') center no-repeat; text-indent: -9999px; border: none;}
.heartBtn{background: url('../img/btn_heart_O.png') center no-repeat; text-indent: -9999px; border: none;}
.heartBtn.active{background: url('../img/btn_heart.png') center no-repeat; text-indent: -9999px; border: none;}
.starResult.star5 {background: url('../img/starResult_star5.png') center no-repeat; text-indent: -9999px;}
.starResult.star4 {background: url('../img/starResult_star4.png') center no-repeat; text-indent: -9999px;}
.starResult.star4 {background: url('../img/starResult_star3.png') center no-repeat; text-indent: -9999px;}
.starResult.star5.colorCase {background: url('../img/starResult_star5_colorCase.png') center no-repeat; text-indent: -9999px;}
.starResult.star4.colorCase {background: url('../img/starResult_star4_colorCase.png') center no-repeat; text-indent: -9999px;}
.starResult.star3.colorCase {background: url('../img/starResult_star3_colorCase.png') center no-repeat; text-indent: -9999px;}



@media screen and (max-width:767px){
    #cartPanel {box-sizing: border-box; width: 100%; height: 100%; padding: 60px 0; position: fixed; right: -100%; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); background-color: #fff; z-index: 10000;}
    #cartPanel.active{right: 0;}
    #cartPanel h2{font-size: 18px; font-weight: 400; color: #000; margin-bottom: 28px; padding: 0 5%;}
    #cartPanel h2 button.closeBtn{width: 12px; height: 12px; background-size: 12px; float: right;}
    #cartPanel form {position: relative;}
    #cartPanel form ul{margin-bottom: 100px; padding: 0 5%;}
    #cartPanel form ul li.hidden{visibility: hidden; height: 0; overflow: hidden;}
    #cartPanel form ul li::after{content: ''; display: block; clear: both;}
    #cartPanel form ul li img {margin-right: 1.5%; width: 26%;} 
    #cartPanel form ul li > *{float: left;}
    #cartPanel form ul li div{position: relative; width: 68%;}
    #cartPanel form ul li div dl dt {font-size: 12px; font-weight: 700; color: #000; margin-bottom: 12px;}
    #cartPanel form ul li div dl dd {font-size: 12px; font-weight: 300; color: #000; margin-bottom: 12px;}
    #cartPanel form ul li div div.numberComponent{border: 1px solid #f2f2f2; width: 40%; line-height: 40px; display: inline-block; box-sizing: border-box; text-align: center;}
    #cartPanel form ul li div div.numberComponent input{background-color: transparent; border: none; font-size: 12px; color: #000;}
    #cartPanel form ul li div div.numberComponent input.countDown{padding: 0 30% 0 0;}
    #cartPanel form ul li div div.numberComponent span{font-size: 12px; font-weight: 400; color: #000000;}
    #cartPanel form ul li div div.numberComponent input.countUp{padding: 0 0 0 30%;}
    #cartPanel form ul li button.trashBtn {font-size: 22px; color: #aaa; position: absolute; right: 0; top: 0;}
    #cartPanel form ul li strong{font-size: 15px; font-weight: 500; color: #000; position: absolute; right: 0; bottom:18px;}
    #cartPanel form > div:nth-child(2) {width: 95%; display: none; position: absolute; top: 20%; left: 2%; background-color: #fff; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); text-align: right; padding-block: 46px 20px;}
    #cartPanel form > div:nth-child(2).active {display: block;}
    #cartPanel form > div:nth-child(2) > p {font-size: 15px; font-weight: 700; text-align: center; padding: 0 60px; margin-bottom: 36px;}
    #cartPanel form > div:nth-child(2) > input {font-size: 15px; font-weight: 700; text-align: center; width: 80px; aspect-ratio: 80/27; background-color: #f2f2f2; border: none; color: #000;}
    #cartPanel form > div:nth-child(2) > input:hover{color: #fff; background-color: #000;}
    #cartPanel form > div:nth-child(2) > input:last-child {margin-right: 34px;}
    #cartPanel form > p {font-style: inherit; position: absolute; top: 10%; left: 25%; display: none;}
    #cartPanel form > p.active { display: block;}
    #cartPanel form > div:nth-last-child(1) {padding: 20px 0; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; margin-top: 50px;}
    #cartPanel form > div:nth-last-child(1) input{font-size: 10px; font-weight: 700; color: #fff; background-color: #000; border-radius: 99px; width: 72%; line-height: 35px; display: block; margin: 0 auto; margin-bottom: 12px;}
    #cartPanel form > div:nth-last-child(1) p {font-size: 10px; font-weight: 400; color: #000; text-align: center; padding-inline: 60px;}
    #cartPanel form > div:nth-last-child(1) p span {background: url('../img/afterpay_logo.png') center no-repeat; width: 50px; height: 10px; background-size: 50px; color: transparent;}
    #cartPanel > div {border-top: 2px solid #dddddd; padding: 0 5%;}
    #cartPanel > div h3 {font-size: 18px; font-weight: 400; color: #000; margin-bottom: 15px; padding: 25px 0 0;}
    #cartPanel > div > .bx-wrapper {position: relative;}
    #cartPanel > div > .bx-wrapper .bx-controls-direction .bx-prev {background: url('../img/btn_before_controls.png') center / 23px 23px no-repeat; position: absolute; top: -25px; left: 76%;}
    #cartPanel > div > .bx-wrapper .bx-controls-direction .bx-next {background: url('../img/btn_next_controls.png') center / 23px 23px no-repeat; position: absolute; top: -25px; right: 0;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li{display: inline-block; width: 164px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li div {position: relative; margin-bottom: 10px; width: 164px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > input {font-size: 8px; font-weight: 400; position: absolute; bottom: 10px; left: 10px; display: inline-block; background: #fff; color: #000; font-weight: 400; padding: 10px 20px; text-transform: uppercase; text-decoration: none; border-radius: 99px; border: none;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider  li > div > input:hover{background-color: #000; color: #fff;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > button.heartBtn{position: absolute; top: 5.7%; right: 6.25%; display: block; width: 10px; height: 10px; background-size: 10px;} 
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > img  {width: 100%; object-fit: cover; overflow: hidden; aspect-ratio: 322 / 350; border-radius: 10px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dt a {display: block; font-size: 10px; font-weight: 500; text-decoration: none; color: #000;} 
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dd:nth-child(2) {display: none; font-size: 6.5px; font-weight: 400;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dd:nth-child(3) {font-size: 8.5px; font-weight: 400; text-align: right;}
    #searchPopup {position: fixed; box-sizing: border-box; width: 100%; height: 100%; right: -100%; background-color: #fff; z-index: 1000; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); padding: 70px 5% 0;}
    #searchPopup.active{ right: 0;}
    #searchPopup h2 {max-width: 1680px; margin: 0 auto; margin-bottom: 105px; padding-inline: 2%;}
    #searchPopup h2 img{width: 95px; aspect-ratio: 162 / 38;}
    #searchPopup h2 button.closeBtn{width: 12px; height: 12px; background-size: 12px; float: right;}
    #searchPopup form::after{content: ''; display: block; clear: both;}
    #searchPopup form {max-width: 1680px; margin: 0 auto; border-bottom: 2px solid #858585; margin-bottom: 100px; padding-inline: 2%;}
    #searchPopup form input {border: none; outline: none; font-size: 18px; background: transparent; }
    #searchPopup form input::placeholder{color: #000; background-color: transparent;}
    #searchPopup form button.xi-search {font-size: 12px; float: right;}
    #searchPopup dl::after{content: ''; display: block; clear: both;}
    #searchPopup dl {display: grid; grid-template-columns: repeat(3,1fr); gap: 20px;}
    #searchPopup dl dt {display: block; font-style: inherit; font-size: 12px; font-weight: 700; text-transform: uppercase; grid-column: span 3;}
    #searchPopup dl dd {font-size: 10px; line-height: 30px; grid-column: span 1;}
    header {position: fixed; width: 100%; z-index: 100; box-sizing: border-box; padding-inline: 2%;}
    header > div:nth-child(1) {display: flex;}
    header > div:nth-child(1) > div.rollingList ol {display: flex;}
    header > div:nth-child(1) > div.rollingList ol li{text-align: center; background-color: black; color: white; font-size: 8px; line-height: 25px; min-width: 1920px;} 
    header > div:nth-child(1) > div.rollingList ol li a{text-transform: uppercase; color: #fff;}
    .rollingList.original {animation: rollingleft1 33s linear infinite;}
    .rollingList.clone {animation: rollingleft2 33s linear infinite;}
    @keyframes rollingleft1 {
        0% { transform: translateX(0); }
        50% { transform: translateX(-100%); }
        50.01% { transform: translateX(100%); }
        100% { transform: translateX(0); }
    }

    @keyframes rollingleft2 {
        0% { transition: translateX(0); }
        100% { transform: translateX(-200%); }
    }
    header > div:nth-child(2)  {position: relative; z-index: 100; padding-bottom: 30px;}
    header > div:nth-child(2) h1{width: 3.76%; min-width: 95px; margin: 30px auto 0; text-align: center; z-index: 10000;}
    header > div:nth-child(2) nav h2{font-size: 25px; font-weight: 400; color: #000; margin-bottom: 25px;}
    header > div:nth-child(2) nav h2 button.closeBtn{width: 12px; height: 12px; background-size: 12px; float: right; margin-right: 10px;}
    header > div:nth-child(2) h1 img,header > div:nth-child(2) nav h2 img { width: 100%; max-width: 95px;  aspect-ratio: 162 / 38;}
    header.headerWh > div:nth-child(2) h1 a img {display: block; width: 95px; aspect-ratio: 162 / 38; content: url('../img/philosophylogo.png');}
    header > div:nth-child(2) > button {display: block; position: absolute; left: 0; top: 0; font-size: 26px; color: #fff;  cursor: pointer; }
    header > div:nth-child(2) nav  { box-sizing: border-box; width: 100%; height: 100vh; padding: 70px 5% 0; position: fixed; top: 0;  left: -100%; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); background-color: #fff; z-index: 1000;}
    header > div:nth-child(2) nav.active  {left: 0;}
    header > div:nth-child(2) nav ul {width: 90%; margin: 0 auto;}
    header > div:nth-child(2) nav ul li u {display: block; font-size: 12px; font-weight: 500; padding: 20px 0; cursor: pointer; border-bottom: 2px solid #ecedf2; position: relative; transition: 0.3s ease-in-out; text-decoration: none;}
    header > div:nth-child(2) nav ul li u:after {display: block; content: ''; background: url('../img/btn_plus_6d6d.png') center no-repeat; width: 12px; height: 12px; background-size: 12px; position: absolute; top: 40%; right: 0; transition: 0.3s ease;}
    header > div:nth-child(2) nav ul li u.active {font-weight: 900;}
    header > div:nth-child(2) nav ul li u.active:after {display: block; content: ''; background: url('../img/btn_minus_6d6d.png') center no-repeat; width: 12px; height: 12px; background-size: 12px;}
    header > div:nth-child(2) nav ul li > div {padding: 15px; font-size: 18px;  display: none; background: #ecedf2;}
    header > div:nth-child(2) nav ul li > div > div > ul > li:first-child {display: none;}
    header > div:nth-child(2) nav ul li > div a {display: block; font-size: 10px; font-weight: 500; text-decoration: none; color: #000; line-height: 40px;}
    header > div:nth-child(2) nav ul li > div a:hover {font-weight: 800;}
    header > div:nth-child(2) nav > ul > li > div > div > div > figure {display: none;}
    header > div:nth-child(2) nav ol {list-style: none; width: 80%; margin: 0 auto;}
    header > div:nth-child(2) nav ol li {padding: 12px 0;}
    header > div:nth-child(2) nav ol li a {font-size: 10px; text-decoration: none; color: #000;}
    header > div:nth-child(2) nav ol li button {font-style: inherit; background: none; background-color: transparent; border: none; font-size: 10px; text-decoration: none; color: #000; padding-inline: 0;}
    header > div:nth-child(2) > ul {position: absolute; right: 0; top: 0px; display: flex; gap: 20px; align-items: center;}
    header > div:nth-child(2) > ul > li {color: #fff;}
    header > div:nth-child(2) > ul > li:nth-of-type(1),header > div:nth-child(2) > ul > li:nth-of-type(2) {display: none;}/*변경*/
    header > div:nth-child(2) > ul > li > button{font-size: 20px; color: #fff; cursor: pointer;}
    header > div:nth-child(2) > ul > li a.xi-heart {font-size: 20px;}
    header > div:nth-child(2) > ul > li a {display: block; font-size: 13px; color: #fff; text-decoration: none;}
    header.headerWh  {background-color: white; }
    header.headerWh > div > button {color: #000;}
    header.headerWh > div nav > ul li  {color: #000;}
    header.headerWh > div > ul > li > button {color: #000;}
    header.headerWh > div > ul > li a {color: #000;}
    footer {background-color: #000; color: #fff; padding: 60px 6.25% 120px; position: relative; z-index: 1;}
    footer a {color: #fff; text-decoration: none;}
    footer > ul {margin-bottom: 100px;}
    footer > ul > li h2 img {width: 120px; aspect-ratio: 203 / 48; margin-bottom: 30px;}
    footer > ul > li strong {display: block; font-size: 22px; font-weight: 500; margin-bottom: 20px;}
    footer > ul > li p {font-size: 12px; font-weight: 500; text-decoration: none; line-height: 22px; display: block; max-width: 430px; margin-bottom: 20px;}
    footer > ul > li > h3 {font-size: 12px; font-weight: 500; padding: 14px 18px; cursor: pointer; background-color: #3b3b3b;  position: relative; transition: 0.3s ease-in-out; margin-bottom: 0;}
    footer > ul > li > h3:after {display: block; content: ''; background: url('../img/btn_plus_wh.png') center no-repeat; width: 12px; height: 12px; background-size: 12px; position: absolute; top: 40%; right: 20px; transition: 0.3s ease;}
    footer > ul > li > h3.active:after {display: block; content: ''; background: url('../img/btn_minus_wh.png') center no-repeat; width: 12px; height: 12px; background-size: 12px;}
    footer > ul > li > ol  {padding: 14px 28px; font-size: 18px;  display: none;}
    footer > ul > li > ol > li > a {font-size: 10px; font-weight: 500; line-height: 50px; color: #fff; text-decoration: none; display: block;}
    footer > ul > li > ol > li > a:hover {font-weight: 800;}
    footer > div:nth-child(2) {display: flex; justify-content: center; align-items: center;flex-direction: column;  position: relative;}
    footer > div > ol:nth-of-type(1) {display: flex; gap: 40px; text-align: center; font-size: 10px;}
    footer > div > ol:nth-of-type(2) {order: -1; display: flex; gap: 15px; align-items: start; margin-bottom: 60px;}
    footer > div > ol:nth-of-type(2) li a {color: #fff; font-size: 30px;}
    footer > div > ol:nth-of-type(2) li a img {display: block; width: 26px;}
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    #cartPanel {box-sizing: border-box; width: 62%; height: 100%; padding: 60px 0; position: fixed; right: -100%; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); background-color: #fff; z-index: 10000;}
    #cartPanel.active{right: 0;}
    #cartPanel h2{font-size: 25px; font-weight: 400; color: #000; margin-bottom: 50px; padding: 0 5%;}
    #cartPanel h2 button.closeBtn{width: 15px; height: 15px; background-size: 15px; float: right;}
    #cartPanel form {position: relative;}
    #cartPanel form ul{margin-bottom: 100px; padding: 0 5%;}
    #cartPanel form ul li.hidden{visibility: hidden; height: 0; overflow: hidden;}
    #cartPanel form ul li::after{content: ''; display: block; clear: both;}
    #cartPanel form ul li img {margin-right: 1.5%; width: 20%;} 
    #cartPanel form ul li > *{float: left;}
    #cartPanel form ul li div{position: relative; width: 78.5%;}
    #cartPanel form ul li div dl dt {font-size: 15px; font-weight: 700; color: #000; margin-bottom: 30px;}
    #cartPanel form ul li div dl dd {font-size: 15px; font-weight: 300; color: #000; margin-bottom: 12px;}
    #cartPanel form ul li div div.numberComponent{border: 1px solid #f2f2f2; width: 178px; line-height: 40px; display: inline-block; box-sizing: border-box; text-align: center; box-sizing: border-box;}
    #cartPanel form ul li div div.numberComponent input{background-color: transparent; border: none; font-size: 20px; color: #000;}
    #cartPanel form ul li div div.numberComponent input.countDown{padding-right: 50px;}
    #cartPanel form ul li div div.numberComponent span{font-size: 14px; font-weight: 400;}
    #cartPanel form ul li div div.numberComponent input.countUp{padding-left: 50px;}
    #cartPanel form ul li button.trashBtn {font-size: 22px; color: #aaa; position: absolute; right: 0; top: 0;}
    #cartPanel form ul li strong{font-size: 15px; font-weight: 500; color: #000; position: absolute; right: 0; bottom:18px;}
    #cartPanel form > div:nth-child(2) {width: 90%; display: none; position: absolute; top: 20%; left: 5%; background-color: #fff; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); text-align: right; padding-block: 46px 20px;}
    #cartPanel form > div:nth-child(2).active {display: block;}
    #cartPanel form > div:nth-child(2) > p {font-size: 15px; font-weight: 700; text-align: center; padding: 0 60px; margin-bottom: 36px;}
    #cartPanel form > div:nth-child(2) > input {font-size: 15px; font-weight: 700; text-align: center; width: 80px; aspect-ratio: 80/27; background-color: #f2f2f2; border: none; color: #000;}
    #cartPanel form > div:nth-child(2) > input:hover{color: #fff; background-color: #000;}
    #cartPanel form > div:nth-child(2) > input:last-child {margin-right: 34px;}
    #cartPanel form > p {font-style: inherit; position: absolute; top: 10%; left: 32%; display: none;}
    #cartPanel form > p.active { display: block;}
    #cartPanel form > div:nth-last-child(1) {padding: 20px 0; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; margin-bottom: 65px;}
    #cartPanel form > div:nth-last-child(1)  input{font-size: 14px; font-weight: 700; color: #fff; background-color: #000; border-radius: 99px; width: 72%; line-height: 35px; display: block; margin: 0 auto; margin-bottom: 12px;}
    #cartPanel form > div:nth-last-child(1)  p {font-size: 10px; font-weight: 400; color: #000; text-align: center; padding-inline: 60px;}
    #cartPanel form > div:nth-last-child(1)  p span {background: url('../img/afterpay_logo.png') center no-repeat; width: 50px; height: 10px; background-size: 50px; color: transparent;}
    #cartPanel > div {border-top: 2px solid #dddddd; padding: 0 5%;}
    #cartPanel > div h3 {font-size: 25px; font-weight: 400; color: #000; margin-bottom: 35px; padding: 40px 0 0;}
    #cartPanel > div > .bx-wrapper {position: relative;}
    #cartPanel > div > .bx-wrapper .bx-controls-direction .bx-prev {background: url('../img/btn_before_controls.png') center / 23px 23px no-repeat; position: absolute; top: -45px; left: 76%;}
    #cartPanel > div > .bx-wrapper .bx-controls-direction .bx-next {background: url('../img/btn_next_controls.png') center / 23px 23px no-repeat; position: absolute; top: -45px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li{display: inline-block; width: 195px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li div {position: relative; margin-bottom: 10px; width: 195px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > input {font-size: 8px; font-weight: 400; position: absolute; bottom: 10px; left: 10px; display: inline-block; background: #fff; color: #000; font-weight: 400; padding: 10px 20px; text-transform: uppercase; text-decoration: none; border-radius: 99px; border: none;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider  li > div > input:hover{background-color: #000; color: #fff;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > button.heartBtn{position: absolute; top: 5.7%; right: 6.25%; display: block; width: 10px; height: 10px; background-size: 10px;} 
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > img  {width: 100%; object-fit: cover; overflow: hidden; aspect-ratio: 322 / 350; border-radius: 10px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dt a {display: block; font-size: 11px; font-weight: 500; margin-bottom: 12px; text-decoration: none; color: #000;} 
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dd:nth-child(2) {font-size: 6.5px; font-weight: 400;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dd:nth-child(3) {font-size: 8.5px; font-weight: 400; text-align: right;}
    #searchPopup {position: fixed; box-sizing: border-box; width: 62%; height: 100%; right: -100%; background-color: #fff; z-index: 1000; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); padding: 70px 5% 0;}
    #searchPopup.active{ right: 0;}
    #searchPopup h2 {max-width: 1680px; margin: 0 auto; margin-bottom: 105px; padding-inline: 2%;}
    #searchPopup h2 img{width: 162px; aspect-ratio: 162 / 38;}
    #searchPopup h2 button.closeBtn{width: 20px; height: 20px; background-size: 20px; float: right;}
    #searchPopup form::after{content: ''; display: block; clear: both;}
    #searchPopup form {max-width: 1680px; margin: 0 auto; border-bottom: 2px solid #858585; margin-bottom: 100px; padding-inline: 2%;}
    #searchPopup form input {border: none; outline: none; font-size: 18px; background-color: transparent;}
    #searchPopup form input::placeholder{color: #000; background-color: transparent;}
    #searchPopup form button.xi-search {font-size: 20px; float: right;}
    #searchPopup dl::after{content: ''; display: block; clear: both;}
    #searchPopup dl {display: grid; grid-template-columns: repeat(3,1fr); gap: 20px;}
    #searchPopup dl dt {display: block; font-size: 20px; font-weight: 700; text-transform: uppercase; grid-column: span 3;}
    #searchPopup dl dd {line-height: 30px; grid-column: span 1;}
    header {position: fixed; width: 100%; z-index: 100; box-sizing: border-box; padding-inline: 2%;}
    header > div:nth-child(1) {display: flex;}
    header > div:nth-child(1) > div.rollingList ol {display: flex;}
    header > div:nth-child(1) > div.rollingList ol li{text-align: center; background-color: black; color: white; font-size: 14px; line-height: 40px; min-width: 1920px;} 
    header > div:nth-child(1) > div.rollingList ol li a{text-transform: uppercase; color: #fff;}
    .rollingList.original {animation: rollingleft1 33s linear infinite;}
    .rollingList.clone {animation: rollingleft2 33s linear infinite;}
    @keyframes rollingleft1 {
        0% { transform: translateX(0); }
        50% { transform: translateX(-100%); }
        50.01% { transform: translateX(100%); }
        100% { transform: translateX(0); }
    }
    
    @keyframes rollingleft2 {
        0% { transition: translateX(0); }
        100% { transform: translateX(-200%); }
    }
    header > div:nth-child(2)  {position: relative; z-index: 100; padding-bottom: 30px;}
    header > div:nth-child(2) h1{width: 3.76%; min-width: 162px; margin: 30px auto 0; text-align: center; z-index: 10000;}
    header > div:nth-child(2) nav h2{font-size: 25px; font-weight: 400; color: #000; margin-bottom: 50px;}
    header > div:nth-child(2) nav h2 button.closeBtn{width: 25px; height: 25px; background-size: 25px; float: right; margin-right: 20px;}
    header > div:nth-child(2) h1 img,header > div:nth-child(2) nav h2 img { width: 100%; max-width: 162px;  aspect-ratio: 162 / 38;}
    header.headerWh > div:nth-child(2) h1 a img {display: block; width: 162px; aspect-ratio: 162 / 38; content: url('../img/philosophylogo.png');}
    header > div:nth-child(2) > button {display: block; position: absolute; left: 0; top: 0; font-size: 26px; color: #fff;  cursor: pointer;}
    header > div:nth-child(2) nav  { box-sizing: border-box; width: 62%; height: 100vh; padding: 70px 5% 0; position: fixed; top: 0;  left: -100%; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); background-color: #fff; z-index: 1000;}
    header > div:nth-child(2) nav.active  {left: 0;}
    header > div:nth-child(2) nav ul li u {display: block; font-size: 20px; font-weight: 500; padding: 34px 0; cursor: pointer; border-bottom: 2px solid #ecedf2; position: relative; transition: 0.3s ease-in-out; text-decoration: none;}
    header > div:nth-child(2) nav ul li u:after {display: block; content: ''; background: url('../img/btn_plus_6d6d.png') center no-repeat; width: 25px; height: 25px; background-size: 25px; position: absolute; top: 40%; right: 20px; transition: 0.3s ease;}
    header > div:nth-child(2) nav ul li u.active {font-weight: 900;}
    header > div:nth-child(2) nav ul li u.active:after {display: block; content: ''; background: url('../img/btn_minus_6d6d.png') center no-repeat; width: 25px; height: 25px; background-size: 25px;}
    header > div:nth-child(2) nav ul li > div {padding: 34px 48px; font-size: 18px;  display: none; background: #ecedf2;}
    header > div:nth-child(2) nav ul li > div > div > ul > li:first-child {display: none;}
    header > div:nth-child(2) nav ul li > div a {display: block; font-size: 18px; font-weight: 500; text-decoration: none; color: #000; line-height: 50px;}
    header > div:nth-child(2) nav ul li > div a:hover {font-weight: 800;}
    header > div:nth-child(2) nav > ul > li > div > div > div > figure {display: none;}
    header > div:nth-child(2) nav ol {list-style: none;}
    header > div:nth-child(2) nav ol li {padding: 24px 0;}
    header > div:nth-child(2) nav ol li a {font-size: 16px; text-decoration: none; color: #000;}
    header > div:nth-child(2) nav ol li button {font-style: inherit; background: none; background-color: transparent; border: none; font-size: 16px; text-decoration: none; color: #000; padding-inline: 0;}
    header > div:nth-child(2) > ul {position: absolute; right: 0; top: 10px; display: flex; gap: 20px; align-items: center;}
    header > div:nth-child(2) > ul > li {color: #fff;}
    header > div:nth-child(2) > ul > li > button{font-size: 20px; color: #fff; cursor: pointer;}
    header > div:nth-child(2) > ul > li a.xi-heart {font-size: 20px;}
    header > div:nth-child(2) > ul > li a {display: block; font-size: 13px; color: #fff; text-decoration: none;}
    header.headerWh  {background-color: white; }
    header.headerWh > div > button {color: #000;}
    header.headerWh > div nav > ul li  {color: #000;}
    header.headerWh > div > ul > li > button {color: #000;}
    header.headerWh > div > ul > li a {color: #000;}
    
    footer {background-color: #000; color: #fff; padding: 100px 6.25%; position: relative; z-index: 1;}
    footer a {color: #fff; text-decoration: none;}
    footer > ul { display: grid; grid-template-columns: 6fr 3fr 4fr 3fr; gap: 20px; margin-bottom: 100px;}
    footer > ul > li h2 img {width: 120px; aspect-ratio: 203 / 48; margin-bottom: 50px;}
    footer > ul > li strong {display: block; font-size: 20px; font-weight: 500; margin-bottom: 30px;}
    footer > ul > li p {font-size: 12px; font-weight: 500; text-decoration: none; line-height: 22px; display: block; max-width: 430px;}
    footer > ul > li > h3 {font-size: 14px; font-weight: 500; margin-bottom: 24px;}
    footer > ul > li > ol > li > a {font-size: 10px; font-weight: 500; color: #fff; text-decoration: none; margin-bottom: 20px; display: block;}
    footer > div:nth-child(2) {display: flex; justify-content: center; align-items: center;flex-direction: column;  position: relative;}
    footer > div > ol:nth-of-type(1) {display: flex; gap: 40px; text-align: center;}
    footer > div > ol:nth-of-type(1) li a {font-size: 10px;} 
    footer > div > ol:nth-of-type(2) {order: -1; display: flex; gap: 15px; align-items: start; margin-bottom: 50px;}
    footer > div > ol:nth-of-type(2) li a {color: #fff; font-size: 30px;}
    footer > div > ol:nth-of-type(2) li a img {display: block; width: 26px;} 
}

@media screen and (min-width: 1280px){
    #cartPanel {box-sizing: border-box; width: 31.04%; height: 100%; padding: 60px 0; position: fixed; right: -100%; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); background-color: #fff; z-index: 10000;}
    #cartPanel.active{right: 0;}
    #cartPanel h2{font-size: 25px; font-weight: 400; color: #000; margin-bottom: 50px; padding: 0 5%;}
    #cartPanel h2 button.closeBtn{width: 15px; height: 15px; background-size: 15px; float: right;}
    #cartPanel form {position: relative;}
    #cartPanel form ul{margin-bottom: 100px; padding: 0 5%;}
    #cartPanel form ul li.hidden{visibility: hidden; height: 0; overflow: hidden;}
    #cartPanel form ul li::after{content: ''; display: block; clear: both;}
    #cartPanel form ul li img {margin-right: 1.5%; width: 20%;} 
    #cartPanel form ul li > *{float: left;}
    #cartPanel form ul li div{position: relative; width: 78.5%;}
    #cartPanel form ul li div dl dt {font-size: 15px; font-weight: 700; color: #000; margin-bottom: 30px;}
    #cartPanel form ul li div dl dd {font-size: 15px; font-weight: 300; color: #000; margin-bottom: 12px;}
    #cartPanel form ul li div div.numberComponent{border: 1px solid #f2f2f2; width: 178px; line-height: 40px; display: inline-block; box-sizing: border-box; text-align: center; box-sizing: border-box;}
    #cartPanel form ul li div div.numberComponent input{background-color: transparent; border: none; font-size: 15px;}
    #cartPanel form ul li div div.numberComponent input.countDown{padding-right: 50px;}
    #cartPanel form ul li div div.numberComponent span{font-size: 14px; font-weight: 400; color: #000000;}
    #cartPanel form ul li div div.numberComponent input.countUp{padding-left: 50px;}
    #cartPanel form ul li button.trashBtn {font-size: 22px; color: #aaa; position: absolute; right: 0; top: 0;}
    #cartPanel form ul li strong{font-size: 15px; font-weight: 500; color: #000; position: absolute; right: 0; bottom:18px;}
    #cartPanel form > div:nth-child(2) {width: 90%; display: none; position: absolute; top: 20%; left: 5%; background-color: #fff; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); text-align: right; padding-block: 46px 20px;}
    #cartPanel form > div:nth-child(2).active {display: block;}
    #cartPanel form > div:nth-child(2) > p {font-size: 15px; font-weight: 700; text-align: center; padding: 0 60px; margin-bottom: 36px;}
    #cartPanel form > div:nth-child(2) > input {font-size: 15px; font-weight: 700; text-align: center; width: 80px; aspect-ratio: 80/27; background-color: #f2f2f2; border: none;}
    #cartPanel form > div:nth-child(2) > input:hover{color: #fff; background-color: #000;}
    #cartPanel form > div:nth-child(2) > input:last-child {margin-right: 34px;}
    #cartPanel form > p {font-style: inherit; position: absolute; top: 10%; left: 32%; display: none;}
    #cartPanel form > p.active { display: block;}
    #cartPanel form > div:nth-last-child(1) {padding: 20px 0; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; margin-bottom: 65px;}
    #cartPanel form > div:nth-last-child(1) input{font-size: 14px; font-weight: 700; color: #fff; background-color: #000; border-radius: 99px; width: 72%; line-height: 35px; display: block; margin: 0 auto; margin-bottom: 12px;}
    #cartPanel form > div:nth-last-child(1) p {font-size: 10px; font-weight: 400; color: #000; text-align: center; padding-inline: 60px;}
    #cartPanel form > div:nth-last-child(1) p span {background: url('../img/afterpay_logo.png') center no-repeat; width: 50px; height: 10px; background-size: 50px; color: transparent;}
    #cartPanel > div {border-top: 2px solid #dddddd; padding: 0 5%;}
    #cartPanel > div h3 {font-size: 25px; font-weight: 400; color: #000; margin-bottom: 35px; padding: 40px 0 0;}
    #cartPanel > div > .bx-wrapper {position: relative;}
    #cartPanel > div > .bx-wrapper .bx-controls-direction .bx-prev {background: url('../img/btn_before_controls.png') center / 23px 23px no-repeat; position: absolute; top: -45px; left: 76%;}
    #cartPanel > div > .bx-wrapper .bx-controls-direction .bx-next {background: url('../img/btn_next_controls.png') center / 23px 23px no-repeat; position: absolute; top: -45px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li{display: inline-block; width: 195px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li div {position: relative; margin-bottom: 10px; width: 195px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > input {font-size: 8px; font-weight: 400; position: absolute; bottom: 10px; left: 10px; display: inline-block; background: #fff; color: #000; font-weight: 400; padding: 10px 20px; text-transform: uppercase; text-decoration: none; border-radius: 99px; border: none;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider  li > div > input:hover{background-color: #000; color: #fff;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > button.heartBtn{position: absolute; top: 5.7%; right: 6.25%; display: block; width: 10px; height: 10px; background-size: 10px;} 
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > div > img  {width: 100%; object-fit: cover; overflow: hidden; aspect-ratio: 322 / 350; border-radius: 10px;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dt a {display: block; font-size: 11px; font-weight: 500; margin-bottom: 12px; text-decoration: none; color: #000;} 
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dd:nth-child(2) {font-size: 6.5px; font-weight: 400;}
    #cartPanel > div > .bx-wrapper .bx-viewport .cartBoxSlider li > dl dd:nth-child(3) {font-size: 8.5px; font-weight: 400; text-align: right;}
    #searchPopup {position: fixed; box-sizing: border-box; width: 100%; height: 100%; top:-100%; background-color: #fff; z-index: 1000; transition-duration: 0.5s; transition-timing-function: cubic-bezier(.49,.01,.27,1); padding-block: 100px;}
    #searchPopup.active{ top: 0;}
    #searchPopup h2 {max-width: 1680px; margin: 0 auto; margin-bottom: 105px; padding-inline: 2%;}
    #searchPopup h2 img{width: 162px; aspect-ratio: 162 / 38;}
    #searchPopup h2 button.closeBtn{width: 20px; height: 20px; background-size: 20px; float: right;}
    #searchPopup form::after{content: ''; display: block; clear: both;}
    #searchPopup form {max-width: 1680px; margin: 0 auto; border-bottom: 2px solid #858585; margin-bottom: 100px; padding-inline: 2%;}
    #searchPopup form input {border: none; outline: none; font-size: 18px;}
    #searchPopup form input::placeholder{color: #000;}
    #searchPopup form button.xi-search {font-size: 20px; float: right;}
    #searchPopup dl::after{content: ''; display: block; clear: both;}
    #searchPopup dl {max-width: 1680px; margin: 0 auto; padding-inline: 2%;}
    #searchPopup dl dt {font-size: 20px; font-weight: 700; text-transform: uppercase; float: left;}
    #searchPopup dl dd {float: left; margin-left: 60px;}
    header {position: fixed; width: 100%; z-index: 100; box-sizing: border-box;}
    header:hover {background-color: white;}
    header:hover div h1 a img,header.headerWh > div h1 a img {display: block; width: 162px; aspect-ratio: 162 / 38; content: url('../img/philosophylogo.png');}
    header:hover div nav ul li,header:hover div ul li button,header:hover div ul li a{color: black;}
    header > div:nth-child(1) {display: flex;}
    header > div:nth-child(1) > div.rollingList ol {display: flex;}
    header > div:nth-child(1) > div.rollingList ol li{text-align: center; background-color: black; color: white; font-size: 14px; line-height: 40px; min-width: 1920px;} 
    header > div:nth-child(1) > div.rollingList ol li a{text-transform: uppercase; color: #fff;}
    .rollingList.original {animation: rollingleft1 33s linear infinite;}
    .rollingList.clone {animation: rollingleft2 33s linear infinite;}
    @keyframes rollingleft1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    50.01% { transform: translateX(100%); }
    100% { transform: translateX(0); }
    }

    @keyframes rollingleft2 {
    0% { transition: translateX(0); }
    100% { transform: translateX(-200%); }
    }
    header > div:nth-child(2)  {max-width: 1680px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; padding-inline: 2%;}
    header > div:nth-child(2) h1 img {display: block; width: 162px; aspect-ratio: 162 / 38;}
    header > div nav > ul > li:not(li:last-child) {margin-right: 60px;}
    header > div nav > ul > li {font-size: 15px; color: #fff; text-decoration: none; cursor: pointer;display: inline-block; box-sizing: border-box;}
    header > div nav > ul > li u{display: block; line-height: 100px; text-decoration: none;}
    header > div nav > ul > li u:hover {text-decoration: underline;}
    header > div nav > ul > li u+div{display: none; position: absolute; left: 0; width: 100%; background-color: white;}
    header > div nav > ul > li:hover u+div{display: block;}
    header > div > ul {display: flex; gap: 20px; align-items: center;}
    header > div > ul > li {color: #fff;}
    header > div > ul > li > button{font-size: 20px; color: #fff;}
    header > div > ul > li a.xi-heart {font-size: 20px;}
    header > div > ul > li a {display: block; font-size: 13px; color: #fff; text-decoration: none;}
    header > div:nth-child(2) nav h2,
    header > div:nth-child(2) > button,
    header > div:nth-child(2) nav ol
     {display: none;}
    header > div nav > ul > li > div > div {max-width: 1680px; margin: 0 auto; display: flex; padding: 60px 2% 68px;}
    header > div nav > ul > li > div > div > ul {display: block;}
    header > div nav > ul > li > div > div > ul li span {display: block; font-size: 20px; font-weight: 700; margin-bottom: 28px;}
    header > div nav > ul > li > div > div > ul li a {font-size: 15px; line-height: 24px; color: #000; text-decoration: none;}
    header > div nav > ul > li > div > div > div {display: flex; margin-left: auto;}
    header > div nav > ul > li > div > div > div > figure {position: relative;}
    header > div nav > ul > li > div > div > div > figure:nth-child(2) {margin-left: 45px;}
    header > div nav > ul > li > div > div > div > figure img {width: 485px; aspect-ratio: 485 / 270; object-fit: cover; border-radius: 30px;}
    header > div nav > ul > li:nth-child(1) > div > div > div > figure:nth-child(1) figcaption,
    header > div nav > ul > li:nth-child(2) > div > div > div > figure:nth-child(1) figcaption,
    header > div nav > ul > li:nth-child(3) > div > div > div > figure:nth-child(2) figcaption
     {color: #fff;}
    header > div nav > ul > li > div > div > div > figure figcaption {position: absolute; bottom: 20px; left: 26px; width: 420px;}
    header > div nav > ul > li > div > div > div > figure figcaption strong {display: block; font-size: 20px; font-weight: 500; margin-bottom: 12px; text-align: left; text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);}
    header.headerWh  {background-color: white;}
    header.headerWh > div nav > ul li  {color: #000;}
    header.headerWh > div > ul > li > button {color: #000;}
    header.headerWh > div > ul > li a {color: #000;}
    footer {background-color: #000; color: #fff; padding: 100px 6.25%; position: relative; z-index: 1;}
    footer a {color: #fff; text-decoration: none;}
    footer > ul { display: grid; grid-template-columns: 2fr 1fr 1fr 2fr; gap: 20px; margin-bottom: 160px;}
    footer > ul > li h2 img {width: 203px; aspect-ratio: 203 / 48; margin-bottom: 50px;}
    footer > ul > li strong {display: block; font-size: 40px; font-weight: 500; margin-bottom: 40px;}
    footer > ul > li p {font-size: 22px; font-weight: 500; text-decoration: none; line-height: 32px; display: block; max-width: 430px;}
    footer > ul > li > h3 {font-size: 20px; font-weight: 500; margin-bottom: 24px;}
    footer > ul > li > ol > li > a {font-size: 14px; font-weight: 500; color: #fff; text-decoration: none; margin-bottom: 20px; display: block;}
    footer > div:nth-child(2) {display: flex; justify-content: center; align-items: center; position: relative;}
    footer > div > ol:nth-of-type(1) {display: flex; gap: 40px; text-align: center;}
    footer > div > ol:nth-of-type(2) {position: absolute; right: 0; display: flex; gap: 15px; align-items: start;}
    footer > div > ol:nth-of-type(2) li a {color: #fff; font-size: 30px;}
    footer > div > ol:nth-of-type(2) li a img {display: block; width: 26px;}
}
